<div class="coverhome">
  <div class="coverhome-filter">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
           <%=image_tag("synestasia-title.png", alt: "synestasia", class: 'synestasia-title' )%>
            <h1>
              Immergez-vous et progressez
            <h1>

            <h1>
              le temps d'un week-end, d'une semaine ou d'un mois
            </h1>
          <ul class="list-unstyled list-inline">
            <li>
              <%= link_to root_path do %>
              <div class="about-button">
                <h5>À propos</h5>
              </div>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <div class=" about-button start-button">
                  <h5>Découvrir</h5>
                </div>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
